section.categories-list
  h1.visually-hidden Сервис объявлений "Куплю - продам"
  ul.categories-list__wrapper
    each topCategory in topCategories
      li.categories-list__item
        if category
          if category.id == topCategory.id
            a.category-tile.category-tile--active(href=`/offers/category/${topCategory.id}`)
              span.category-tile__image
                img(src=`/img/cat0${Math.floor(Math.random() * (6 - 2 + 1)) + 2}.jpg`, srcset=`/img/cat0${Math.floor(Math.random() * (6 - 2 + 1)) + 2}.jpg`, alt='Иконка категории')
              span.category-tile__label
                | #{topCategory.name} 
                span.category-tile__qty.js-qty #{topCategory.numberOfOffers}
          else 
            a.category-tile(href=`/offers/category/${topCategory.id}`)
              span.category-tile__image
                img(src=`/img/cat0${Math.floor(Math.random() * (6 - 2 + 1)) + 2}.jpg`, srcset=`/img/cat0${Math.floor(Math.random() * (6 - 2 + 1)) + 2}.jpg`, alt='Иконка категории')
              span.category-tile__label
                | #{topCategory.name} 
                span.category-tile__qty.js-qty #{topCategory.numberOfOffers}
        else
          a.category-tile.category-tile--default(href=`/offers/category/${topCategory.id}`)
            span.category-tile__image
              img(src=`/img/cat0${Math.floor(Math.random() * (6 - 2 + 1)) + 2}.jpg`, srcset=`/img/cat0${Math.floor(Math.random() * (6 - 2 + 1)) + 2}.jpg`, alt='Иконка категории')
            span.category-tile__label
              | #{topCategory.name} 
              span.category-tile__qty.js-qty #{topCategory.numberOfOffers}
