extends layout.pug 

block content
  main.page-content
  include partials/categories.pug
  section.tickets-list
    h2.visually-hidden Предложения из категории электроника
    .tickets-list__wrapper
      .tickets-list__header
        p.tickets-list__title
          | #{category.name} 
          b.js-qty #{category.offers.length}
      ul
        each offer, i in category.offers
          li.tickets-list__item
            div(class=`ticket-card ticket-card--color0${i}`)
              .ticket-card__img
                img(src=`/img/${offer.picture}`, srcset=`/img/${offer.picture}`, alt='Изображение товара')
              .ticket-card__info
                span.ticket-card__label
                  | #{offer.type.name}
                .ticket-card__categories
                  a(href='#') #{offer.categories.map((category) => (category.name)).join(`, `)} 
                .ticket-card__header
                  h3.ticket-card__title
                    a(href=`/offers/${offer.id}`) #{offer.title}
                  p.ticket-card__price
                    span.js-sum #{offer.price} ₽
                .ticket-card__desc
                  p #{offer.descr}
      .tickets-list__pagination
        ul.pagination
          li
            a.active(href='#') 1
          li
            a(href='#') 2
          li
            a(href='#') 3
          li
            a(href='#') 4
          li
            a(href='#') 5
          li
            a(href='#') дальше
