extends layout.pug

block content
  main.page-content
  include partials/categories.pug
  section.tickets-list
    h2.visually-hidden Самые новые предложения
    .tickets-list__wrapper
      .tickets-list__header
        p.tickets-list__title Самое свежее
      ul 
        - var i = 1
        each offer in offersForTheNewest
          li.tickets-list__item
            div(class=`ticket-card ticket-card--color0${i++}`)
              .ticket-card__img
                img(src=`img/${offer.picture}.jpg`, srcset=`img/${offer.picture}@2x.jpg 2x`, alt='Изображение товара')
              .ticket-card__info
                span.ticket-card__label
                  if offer.type == 'SALE'
                    | ПРОДАМ
                  else
                    | КУПЛЮ
                .ticket-card__categories
                  a(href='#') 
                    = offer.category.join(', ')
                .ticket-card__header
                  h3.ticket-card__title
                    a(href='#') #{offer.title}
                  p.ticket-card__price
                    span.js-sum #{offer.sum} ₽
                .ticket-card__desc
                  p #{offer.description}
  section.tickets-list
    h2.visually-hidden Самые обсуждаемые предложения
    .tickets-list__wrapper
      .tickets-list__header
        p.tickets-list__title Самые обсуждаемые
      ul
        - var j = 1
        each offer in offersForTheMostDiscussed
          li.tickets-list__item
            div(class=`ticket-card ticket-card--color0${j++}`)
              .ticket-card__img
                img(src=`img/${offer.picture}.jpg`, srcset=`img/${offer.picture}@2x.jpg 2x`, alt='Изображение товара')
              .ticket-card__info
                span.ticket-card__label
                  if offer.type == 'SALE'
                    | ПРОДАМ
                  else
                    | КУПЛЮ
                .ticket-card__categories
                  a(href='#') 
                    = offer.category.join(', ')
                .ticket-card__header
                  h3.ticket-card__title
                    a(href='#') #{offer.title}
                  p.ticket-card__price
                    span.js-sum #{offer.sum} ₽
                .ticket-card__desc
                  p #{offer.description}

