extends layout.pug

block content
  main.page-content
  include partials/categories.pug
  section.tickets-list
    h2.visually-hidden Самые новые предложения
    .tickets-list__wrapper
      .tickets-list__header
        p.tickets-list__title Самое свежее
      ul 
        each offer, i in offersForTheNewest
          li.tickets-list__item
            div(class=`ticket-card ticket-card--color0${i}`)
              .ticket-card__img
                img(src=`/img/${offer.picture}`, srcset=`/img/${offer.picture}`, alt='Изображение товара')
              .ticket-card__info
                span.ticket-card__label
                  | #{offer.type.name}
                .ticket-card__categories
                  a(href='#') #{offer.categories.map((category) => (category.name)).join(`, `)} 
                .ticket-card__header
                  h3.ticket-card__title
                    a(href=`/offers/${offer.id}`) #{offer.title}
                  p.ticket-card__price
                    span.js-sum #{offer.price} ₽
                .ticket-card__desc
                  p #{offer.descr}
  section.tickets-list
    h2.visually-hidden Самые обсуждаемые предложения
    .tickets-list__wrapper
      .tickets-list__header
        p.tickets-list__title Самые обсуждаемые
      ul
        each offer, i in offersForTheMostDiscussed
          li.tickets-list__item
            div(class=`ticket-card ticket-card--color0${i}`)
              .ticket-card__img
                img(src=`/img/${offer.picture}`, srcset=`/img/${offer.picture}`, alt='Изображение товара')
              .ticket-card__info
                span.ticket-card__label
                  | #{offer.type.name}
                .ticket-card__categories
                  a(href='#') #{offer.categories.map((category) => (category.name)).join(`, `)} 
                .ticket-card__header
                  h3.ticket-card__title
                    a(href=`/offers/${offer.id}`) #{offer.title}
                  p.ticket-card__price
                    span.js-sum #{offer.price} ₽
                .ticket-card__desc
                  p #{offer.descr}

